body{
  margin: 0;
  padding: 0;
  background: url(pro) no-repeat;
  background-size: cover;
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}




/* Dropdown Button */
.dropbtn {
  background-color: gray;
  color: white;
  padding: 10px;
  font-size: 10px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
        

    top: 300%;
    
    left: 20%;
  -ms-transform: translateY(500%);
  transform: translateY(500%);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ddd;
    font-size: 10px;
  min-width: 20%;
  box-shadow:  rgba(0,0,0,0.2);
    
 
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
    
     
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: gray;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ddd;}
